.mobile-nav {
    display:none;
}

@media (max-width:600px){
    .mobile-nav {
        z-index:999;
         box-shadow: 0 -1px 1px -1px #cccccc;
        display:block;
        display:flex;
        position:fixed;
        bottom:0;
        height:40px;
        width:100%;
        background:#ffffff;
    }
}