.movie-content img {
    /* position:relative;
    align-self:center; */
    position: relative;
    left:30px;
    top:-125px;
    width:220px;
    align-self:center;
}
.content-body{
    display:flex;
}

.score {
    border: 4px solid rgb(145, 83, 83);
    padding-top:25px;
    left:500px;
    text-align: center;
    width: 75px;
    height:75px;
    border-radius: 50%;
    color:black;
    background-color:white;
    font-size: 2rem;
    position:relative;
    right:0;
}
.content-header {
    background: linear-gradient(to left, #ffd89b, #19547b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    height:150px;
    margin-bottom: 2rem;
}

.sub-header {
   display:flex;
   justify-content: space-between;
   max-width:350px;
}
.main-info{
    margin-left:2rem;
    width:90%;
}
.main-info h2 {
    margin-bottom:0px;
}

.movie-content{
    margin-bottom: 2rem;
}