.movie-content img {
    align-self:flex-start;
    display:inline-block;
    padding-left:1rem;
    width:40%;
    max-width:210px;
}
.content-body{
    width:100%;
    display:flex;
}
.content-header{
    margin-left:1rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
    max-width:600px;
}
.content-header h3 {
    font-weight:600;
    margin-bottom:0;
}
.spacer-d{
    display:inline-block;
    width:1.2rem;
}
.spacer-w{
    display:inline-block;
    width:1.6rem;
}
.spacer-s {
    display:inline-block;
    width:1.9rem;
}
.score { 
    border: 4px solid black;
    padding-top:22px;
    text-align: center;
    width: 5rem;
    height:5rem;
    border-radius: 50%;
    color:black;
    background-color:#fafafa;
    font-size: 1.75rem;
}


.sub-header {
    color:#666666;
   display:flex;
}
.sub-header div {
    margin-right:1rem;
}

.content-info {
   width:55%;
   margin-left:.5rem;
  
}

.content-info h4{
    display:inline-block;
    margin-bottom:0;

}
.sub-info {
    margin-bottom:.25rem;
}


.movie-content{
    width:100%;
    max-width:1000px;
    margin:auto;
    margin-top:2rem;
    margin-bottom:2rem;
    /* background-image: linear-gradient(to left, #5ee7df 0%, #b490ca 100%); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:black;
    margin-bottom: 2rem;
    padding-bottom:1.5rem;
}

@media (max-width:550px) {
    .info-detail{
        display:block;
        padding-left:.5rem;
    }
}
