

.content-body img {
    width:45%;
    max-width:210px;
    align-self:center;
    margin-left:.5rem;
}
.content-body{
    margin:1rem;
    width:100%;
    display:flex;
    justify-content: space-around;
    max-width:800px;
}
.content-header{
    width:100%;
    margin:.5rem;
    max-width:700px;

}

.primary-info{
    display:flex;
    flex-direction:column;
    flex:1;
    min-width:300px;
    max-height:315px;
    padding:.5rem;
    max-width:400px;
}

.overview {
    margin-top:auto;
    padding-top:.5rem;
}



.content-field {
    margin:.25rem;
    
}


.content-key{
    font-size:1.15rem;
    width:100px;
    display:inline-block;
}

.content-value {
    color:#2b2b2b;
}
.overview {
    margin-top:auto;
}
.sub-header {
    color:#666666;
   display:flex;
}

.content-info {
   display:flex;
   flex-direction:column;
   margin-left:.25rem;
   min-width:200px;
}

.content-info h4{
    display:inline-block;
    margin-bottom:0;

}

.release-year {
    font-size:1rem;
    padding-top:.3rem;
    padding-left:.3rem
}




@media (max-width:700px) {
    .movie-content {
        margin:0;
    }
    .content-body{
    flex-wrap:wrap;
    margin:0;
    }
    .content-info {
        width:50%;
        max-width:250px;
        min-width:150px;
    
    }
    .primary-info{
         order:3;
        margin:auto;
        max-width:100%
       
    }
    .content-field {

        max-width:90%;
    }
    
}
