
.app {
    display:flex;
    flex-direction:column;
    width:100%;
    min-height: 100vh; 
    background-color: #fafafa;
}
.app::before{
        content: '';
        position:absolute;
        top: 0;
        width:100%;
        height:3px;
        background: linear-gradient(to right, #ffafbd,#ffdde1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    
}


.navbar ul {
    margin-right: 2rem;
}
.navbar ul * {
    margin-right: 1rem;   
}
.navbar h1 {
    font-family: 'Righteous',cursive;
    margin-left:2rem;
   
}


.footer{
    background-color: #fafafa;
}
.content{
    background: #fafafa;
}

a {
    color:inherit;
    text-decoration: none;
    cursor:auto;
}

a :hover {
    color:black;
    cursor: pointer;
}

