.movie_card {
    margin:auto;
    background-color: white; 
    width:210px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.movie_card img {
    width:100%;
}
.show-card-body-btn{
    padding-top:1px;
    margin-right:5px;
}

.card--content{
    width:100%;
    position:relative;
    height:90px;

}
.content--footer{
    width:100%;
    position: absolute;
    bottom:0;
    display:flex;
    justify-content: space-around;
    padding-bottom: 5px;

}
.content--body{
display:none;
}
.content--header h3{
    width:80%;
    margin: 1px 0 1px 4px;
    font-family: sans-serif;
    font-weight: 300;
    font-size:1.1rem;
    overflow:hidden;
}
.content--header h5 {
    color: #777;
    margin: 1px 0 0 4px;
    font-family: sans-serif;
    font-weight: 300;
}
.content--header-top{
    display:flex;
    width:100%;
    justify-content: space-between;
    margin-right:10px;
}

.movie_card::after{
    position: absolute;
    width:210px;
    height:4px;
    content:'';
    background: linear-gradient(to left,#feac5e, #4bc0c8);
}
