.movie-page{
    width:100%;
    max-width:1200px;
    margin:auto;
}

.movie-content {
    margin-left:60px;
    margin-top:50px;
    
    display:flex;
    
}

.movie-content img {
    position:relative;
    align-self:center;
    width:220px;
    
}

.movie-content__info {
  min-width:500px; 
}

.movie-content__info h1 {
    margin-left:20px;
    margin-top:0px;
}